<div class="board">
    <ng-container *ngIf="board">
        <div>
            <div class="board-title">{{board.title}}</div>
            <div class="d-flex">
                <ng-container *ngFor="let list of board.lists">
                    <app-list [list]="list"></app-list>
                </ng-container>
                <div class="list" *ngIf="board.lists.length < 1">
                    <div class="card-wrapper">
                        Add lists to Board...
                    </div>
                </div>
                <div class="add-list">
                    <div class="list-header">
                        <div class="list-title">
                            Add List
                        </div>
                    </div>
                    <div class="list-content">
                        <div class="wrap-input100">
                            <input class="input100" type="text" [(ngModel)]="listName" (input)="errorMessage = ''" placeholder="List Name">
                            <div class="focus-input100"></div>
                            <div class="error-msg" *ngIf="errorMessage">{{errorMessage}}</div>
                        </div>
                        <div class="solid-btn ml-auto" (click)="createList()">Add</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!board">
        <div>
            <div class="board-title">Create Board</div>
            <div class="d-flex" style="padding-left: 10px;">
                <div class="wrap-input100 mr-20" style="width: 300px;">
                    <input class="input100" type="text" [(ngModel)]="boardName" placeholder="Board Name">
                    <div class="focus-input100"></div>
                </div>
                <div class="solid-btn" (click)="createBoard()">Create</div>
            </div>
        </div>
    </ng-container>
</div>